.color-red {
    background: red;
}

.color-blue {
    background: blue;
}

.color-yellow {
    background: yellow;
    color: black;
}

.color-green {
    background: green;
}

.color-purple {
    background: purple;
}

.color-black {
    background: black;
    color: white;
}

.banner {
    height: 50%;
}

.donate {
    height: 33.33%;
}

#content > header {
    height: 575px;
}

@media screen and (max-width:760px) {
    #content > header > div {
        height: 45%;
    }
    .donate {
        height: 50%;
    }

    .banner {
        height: 50%;
    }

    #content > header {
        height: 650px;
    }
}