.flex-lg-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-lg-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-lg-row-rew {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.flex-lg-col-rew {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.col-lg-1 {
    width: 8.33%;
}

.col-lg-2 {
    width: 16.66%;
}

.col-lg-3 {
    width: 24.99%;
}

.col-lg-4 {
    width: 33.32%;
}

.col-lg-5 {
    width: 41.65%;
}

.col-lg-6 {
    width: 49.98%;
}

.col-lg-7 {
    width: 58.31%;
}

.col-lg-8 {
    width: 66.64%;
}

.col-lg-9 {
    width: 74.97%;
}

.col-lg-10 {
    width: 83.3%;
}

.col-lg-11 {
    width: 91.63%;
}

.col-lg-12 {
    width: 100%;
}

@media screen and (max-width:760px) {
    .flex-sm-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-sm-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex-sm-row-rew {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    
    .flex-sm-col-rew {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .col-sm-1 {
        width: 8.33%;
    }
    
    .col-sm-2 {
        width: 16.66%;
    }
    
    .col-sm-3 {
        width: 24.99%;
    }
    
    .col-sm-4 {
        width: 33.32%;
    }
    
    .col-sm-5 {
        width: 41.65%;
    }
    
    .col-sm-6 {
        width: 49.98%;
    }
    
    .col-sm-7 {
        width: 58.31%;
    }
    
    .col-sm-8 {
        width: 66.64%;
    }
    
    .col-sm-9 {
        width: 74.97%;
    }
    
    .col-sm-10 {
        width: 83.3%;
    }
    
    .col-sm-11 {
        width: 91.63%;
    }
    
    .col-sm-12 {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .flex-md-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-md-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex-md-row-rew {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    
    .flex-md-col-rew {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .col-md-1 {
        width: 8.33%;
    }
    
    .col-md-2 {
        width: 16.66%;
    }
    
    .col-md-3 {
        width: 24.99%;
    }
    
    .col-md-4 {
        width: 33.32%;
    }
    
    .col-md-5 {
        width: 41.65%;
    }
    
    .col-md-6 {
        width: 49.98%;
    }
    
    .col-md-7 {
        width: 58.31%;
    }
    
    .col-md-8 {
        width: 66.64%;
    }
    
    .col-md-9 {
        width: 74.97%;
    }
    
    .col-md-10 {
        width: 83.3%;
    }
    
    .col-md-11 {
        width: 91.63%;
    }
    
    .col-md-12 {
        width: 100%;
    }
}
