* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: auto;
    width: 58%;
}

#logo {
    height: 110px;
}

#navbar > ul {
    list-style-type: none;
}

#navbar > ul a {
    padding: 20px;
    margin: auto;
    text-decoration: none;
    color: #fff;
}

#content > header {
    margin: auto;
    width: 95%;
}

#content > header {
    justify-content: space-between;
    align-content: space-around;
}

/* DELETE */
#content > header > div {
    height: 90%;
}

@media screen and (max-width:760px) {
    #container {
        width: 100%;
    }

    #navbar > ul a {
        padding: 40px;
    }

    #logo {
        height: 150px;
    }
}